.app-header {
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

.subtitle {
    font-size: 1.2rem;
    color: #666;
    font-style: italic;
}

.content {
    width: 100%;
}